/*  YOU DON'T NEED TO TOUCH THIS FILE */
@import url('https://fonts.googleapis.com/css?family=Dosis:wght@200&family=Roboto:wght@400&display=swap');

body {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 15px 30px;
}

.logo {
  max-height: 3rem;
}

.containerAvatar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerAvatar h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.containerAvatar h2 {
  font-size: 1rem;
  font-weight: bold;
}

.avatarImg{
  width: auto;
  height: auto;
}

.logoUsineAgas{
display: none;
}


.heading{
  text-align: center;
}
.contents{
  justify-items: center;
}


#name {
  color: red;
}

.purple {
  color: #750ff7;
}

button:focus {
  outline: none;
}
